[2015-01-02 19:41] hallahan opened #1 "Make Concurrent HTTP Request Count Configurable"
Hi Seth,

I'm using your tool to scrape an endpoint and populate an mbtiles database. I'm noticing that the requests are being done in series rather than there being a set of parallel requests. I think it's ok to hit my endpoint harder and get what I want faster...

Could you give me a clue on how to set maybe 10 parallel HTTP requests? I'm thinking I need to tweak some parameter to the async modu

[2015-01-02 20:02] sethfitz commented on #1
Right, that.  I'd mostly been using it to convert stuff locally where concurrency mattered less.  I've been meaning to add configurable support to this for a while.

It's possible that you'll get the behavior you're looking for using the `tilelive` command line utilities.

(Stream-of-consciousness exploration follows...)

Here's the block responsible for setting up the copy, which points at [tilel

[2015-01-02 20:10] sethfitz commented on #1
`createWriteStream` leads me back to `Writable` and `Collector`, as it primarily adds logic to handle opening and closing SQLite files.

The general approach with streaming here is that `createReadStream` returns a single stream that emits byte streams containing tile data.  The underlying ["collector"](https://github.com/mojodna/tilelive-streaming/blob/master/index.js#L200) is a non-`objectMode`

[2015-01-02 20:15] sethfitz commented on #1
Here's the copy command I'm using:

[code]

[2015-01-02 20:19] sethfitz commented on #1
Oh, right.  That uses `tilejson` under the hood; I should be using:

[code]

[2015-01-02 21:25] sethfitz commented on #1
Figured it out. I was ignoring [`readable.push`](http://nodejs.org/api/stream.html#stream_readable_push_chunk_encoding)'s return value, so the internal buffer was never being filled, so it was only making one request per `_read` call.

This is the relevant commit:
https://github.com/mojodna/tilelive-streaming/commit/57acb82c58fe45e12b65588412984f1123fd118e

It's part of `tilelive-streaming@0.1.5`

[2015-01-07 01:23] hallahan commented on #1
Thanks for the fix Seth! Your tool is extremely useful. It will be saving us a lot of time!

[2015-01-09 10:39] mohsentaleb opened #2 "Failed to install tl via npm install"
With the following error:

[2015-01-09 19:29] sethfitz commented on #2
Try installing a 32-bit `node.exe` per https://github.com/mapnik/node-mapnik/issues/343#issuecomment-61578164

[2015-01-09 19:31] sethfitz commented on #2
I'm not familiar with the intricacies of installing Mapnik on Windows, so you'll probably have better luck here: https://github.com/mapnik/node-mapnik/issues

You can more directly replicate the problem using `npm install mapnik` in an empty directory.

[2015-01-09 19:31] mohsentaleb commented on #2
I'm already on 32-bit node. My machine runs on Windows7 32-bit.

[2015-01-09 21:15] sethfitz commented on #2
Tracking in https://github.com/mapnik/node-mapnik/issues/367

[2015-01-09 21:15] #2 closed, assigned to nobody

[2015-01-12 11:19] mohsentaleb opened #3 "Module breaks with error: Invalid tilesource protocol: tmsource"
Although tilelive-tmsource is installed globally (as a proof, Tessera server works fine with command: `tessera tmstyle://./test.tm2` in which `test.tm2` is internally linked to a tm2source).

logs this error:

[2015-01-12 18:01] sethfitz commented on #3
I don't think this will actually work, but it's worth a try.  Can you explicitly require `tilelive-tmsource`?

[code]

What's more likely is that [`modules.js`](https://github.com/mojodna/tl/blob/master/lib/modules.js) is swallowing whatever error is being produced (though if it's working with `tessera`...).  Can you try adding logging to `modules.js`: https://github.com/mojodna/tl/blob/master/lib

[2015-01-12 22:01] mohsentaleb commented on #3
Already did `tl render -r tilelive-tmsource ...` but no luck..
Just put a `console.log(e)` where you mentioned in modules.js#17 and the output was:

[code]

[2015-01-13 00:53] sethfitz commented on #3
This is great, thank you.

Mapnik (and apparently other binary modules) behave strangely when there are multiple copies.  One solution might be to install mapnik at the top level and then uninstalling and then reinstalling any of the tilelive modules.

The more fundamental problem may be the adoption of a dependency on a different version of mapnik to support the `render` command.  I was going to

[2015-01-13 10:30] mohsentaleb commented on #3
Just tried uninstalling mapnik and then installing it at top level, also the third solution. Still no luck, throws the same errors as above.

I just need a simple way to export a TM2 project into an MBtiles file. the third solution makes the conversion stack a bit complex.

Does this module work on your machine BTW?

[2015-01-13 20:50] sethfitz commented on #3
Good question.  I don't think I've tried it since adding rendering and I've been slammed the last couple days.  I'll be able to give it a try tomorrow.

If you're just going to MBTiles:

[code]

(Install `tl@0.2.1` to prevent conflicts from the `render` command.)

[2015-01-13 20:51] sethfitz commented on #3
(This was originally written to render ("copy"; "render" in context here generates a single image) TM2 projects to MBTiles, so I need to make sure that works with the current version.)

[2015-01-13 21:29] mohsentaleb commented on #3
@mojodna
Installed @0.2.1. throws error while exporting.
`FATAL ERROR: JS Allocation failed - process out of memory`

Also tried adding `--max-old-space-size=2000` option to node but no luck.

[2015-01-13 22:59] sethfitz commented on #3
Ugh.  Any chance you can share the project and the bounds / zoom you're trying to export?

[2015-01-14 08:38] mohsentaleb commented on #3
@mojodna I wish, but the database is pretty huge, and contains sensitive data. The project is bound to a single city with not-too-vast bounds `[51.091041, 35.509701, 51.626207, 35.8765]`

The weird thing is, no matter which range of zoom levels I'm exporting it crashes when it exports 54 images to mbtiles with error `FATAL ERROR: JS Allocation failed - process out of memory`.

I Googled a bit abou

[2015-01-14 09:38] mohsentaleb commented on #3
@mojodna Also monitored node.exe process to see its memory consumption and I think that's it. It goes up to 750MB and that's when your module crashes.
Have you considered garbage collection to work properly in your code?

[2015-01-15 00:13] sethfitz commented on #3
Interesting (and no worries, I totally understand).  I've seen that before, but not in this context.  I suspect that it could be Mapnik (in which case I've got a utility I need to publish that I've been using to profile styles), but it's more likely mbtiles (specifically the streaming wrapper around it here: https://github.com/mojodna/tilelive-streaming/blob/master/lib/mbtiles.js).

I'm slowly get

[2015-01-16 05:17] sethfitz commented on #3
I made various updates to tilelive modules today that should "prevent binary pwnage" and just successfully generated an mbtiles containing 340 tiles with no problems.  (In other words, reinstall any tilelive modules to pick up the newer versions.)

Can you paste the output (which is just tile coordinates and byte sizes) from your crash?  I'm wondering if  could be related to the size of individual

[2015-01-16 07:21] mohsentaleb commented on #3
Thanks! Could you also list the tilelive modules that you made updates to?

[2015-01-16 07:38] springmeyer commented on #3
@mohsentaleb i see you are using a 32 bit install of node on windows. I would recommend using 64 bit since the memory limit for a 32 bit process is ~ 700 mb and not really enough for heavy tiling jobs.

[2015-01-16 09:10] mohsentaleb commented on #3
@springmeyer I could, but when I tried to install 64bit versions on my 64bit machine a couple of days ago, I got stuck with bunch of dependency errors with windows binaries (e.g. mapnik). Unless you tell me it's been fixed.

I've been using Tilemill on 32bit windows since its early releases and been exporting large mbtiles files with no problem.
I guess there must be something wrong with either ne

[2015-01-16 11:42] mohsentaleb commented on #3
@mojodna @springmeyer I managed to install it on a 64bit windows. Memory consumption was around 1.5GB when it crashed.
output: http://pastebin.com/uRAPrZSm

`npm list -g --depth=0`:

[code]

It exported ~130 tiles and I'm trying to export a 34,000+ tiles project!

[2015-01-16 16:25] springmeyer commented on #3
@mohsentaleb I'm realizing you are running your own nodejs version installed from nodejs on windows (rather than say the Mapbox Studio desktop package). In this case if you want to use the latest node-mapnik 3.x series then you also need to (for the time being, until nodejs supports visual studio 2014/2015) run a custom built node.exe that is compatible with visual studio 2014.  it is here: https:

[2015-01-16 19:31] mohsentaleb commented on #3
@springmeyer No luck again. I just copied Mapbox's version of node.exe to node's default path and ran the app, crashed at 1.5GB memory usage.

**UPDATE:** Also tried the version compatible with VS2014 and installing all modules with `--toolset=v140` ! nope, not working.

[2015-01-19 10:05] wilhelmberg commented on #3
@mohsentaleb would you mind repeating the steps ([Debug Mapbox Studio](https://gist.github.com/BergWerkGIS/534a5e74301c5607af5c)) we discussed in ([Windows: Crash on Upload Source/Download Mbtiles](https://github.com/mapbox/mapbox-studio/issues/1118)) to see, if we can get any additional information?

[2015-01-19 10:14] mohsentaleb commented on #3
@BergWerkGIS Sure, how can I do it in case of this command-line tool?

[2015-01-19 10:51] wilhelmberg commented on #3
@mohsentaleb
Download a Mapbox `node.exe`to a directory of your choice, 64bit preferred.
https://github.com/mapbox/node-cpp11/blob/master/README.md#node-for-windows--visual-studio-2014-ctp-4--64-bit

In WinDbg:
Executable: `<PATH\TO\MAPBOX>\node.exe`
Arguments: `"<PATH\TO\TL-CLONE-DIR>\bin\tl.js" <arg1> <arg2>`

[2015-01-19 20:08] mohsentaleb commented on #3
@BergWerkGIS Done.
log: http://pastebin.com/qhHTnvQX
dump file: http://mohsentaleb.com/tl-crash.rar

[2015-01-20 12:59] wilhelmberg commented on #3
@mohsentaleb thanks for the dump file.
@springmeyer  FYI

---

### **tl;dr**

@mohsentaleb Is it feasible for you to break the export into several steps?
e.g.: split your area into four quadrants and then combine the mbtiles?

**Reason:**
By using a smaller bounding box I could work arround that problem.

I suppose you have some dense data.
e.g. footprints of houses. If you are rendering at zoom 8

[2015-01-20 13:13] mohsentaleb commented on #3
@BergWerkGIS Thanks for putting the time on this.
It may sound weird, but I'm able to export an mbtiles file in TileMill v0.10.1with the exact same bounding box with the same exact layers, and exact same stylesheets. Does that help narrowing down the problem roots?

[2015-01-20 14:23] wilhelmberg commented on #3
@mohsentaleb
Great that it is working for you with TileMill.
Does this solve your problem, or do you need further help?

 TileMill and MapBox Studio are completely different under the hood and thus cannot be compared.

Thanks again for your input, it is important that I can reproduce the problem to get rid of it.

[2015-01-20 14:26] mohsentaleb commented on #3
@BergWerkGIS No, I meant I had been using TileMill in the past with no problem. Migrated to Mapbox about 10 days ago and all these issues are coming out. I can't use TileMill to export retina tiles (@2x size)

[2015-01-20 14:42] mohsentaleb commented on #3
@BergWerkGIS @springmeyer I mean there is some way that Mapbox currently renders the whole world, right? We're just talking about a small city here.

@springmeyer My steps on using this command line tools and the setup are almost the same as yours.
Also I've spent a lot of time simplifying my SQL queries and I use a bunch of z() functions to reduce memory usage.

[2015-01-20 15:38] wilhelmberg commented on #3
@mohsentaleb

Have you tried `Scale Factor` in TileMill?
TileMill Docs: [High-Resolution Tiles](https://www.mapbox.com/tilemill/docs/guides/high-resolution-tiles/)

The whole world can be rendered, because the underlying vector tiles have been highly optimized (`ST_Simplify`, `geom && !bbox!`, `z()`, `labelgrid()`) to just include the data (geometry- and attribute-wise), that is absolutely necessa

[2015-01-20 15:45] mohsentaleb commented on #3
@BergWerkGIS `Scale Factor` will increase the thickness of lines, scale of icons, and size of text in a default 256x246 tile which is not exactly what I need. I just need 512x512 replica of default tiles, which I managed to export them with `tl` but it crashes and wont let me export all the tiles.

P.S. I made a report on how many rows are returned from each of my SQLqueries and found out that the

[2015-01-20 16:32] wilhelmberg commented on #3
@mohsentaleb
I suppose you want to target retina displays, right?

TileMill Docs: [High-Resolution Tiles](https://www.mapbox.com/tilemill/docs/guides/high-resolution-tiles/):
_"TileMill includes a number of features that make it easy to create **high-resolution**
 versions of map designs, for example to **display on Apple Retina** displays."_

The thickness of lines and the scale of icons have to

[2015-01-20 17:04] mohsentaleb commented on #3
@BergWerkGIS As far as I know, there's two methods for providing retina tiles for hi-res devices.
1.exporting 256x256 tiles with `scale factor` of 2 in Tilemill and adding option `detectRetina` in leaflet 0.7.x which does a trick by displaying tiles of zoomX in zoomX-1 so that texts are more readable.
2. exporting 512x512 tiles with @ 2x suffix which leaflet 0.8.x supports and displays them in the

[2015-01-20 17:25] sethfitz commented on #3
Semi-off-topic: you can use 512x512 tiles with Leaflet 0.7 with minimal configuration; it does the right thing and displays 512x512px as 256x256pt:

https://github.com/mojodna/tessera/blob/master/public/index.html#L57-L74

`geom && !bbox!` will further filter the generated SQL query according to the bounding rectangle of the area being rendered (`!bbox!` is replaced with a geometry at query-time)

[2015-01-20 17:33] sethfitz commented on #3
This may also be helpful in optimizing your style (despite its extreme lack of documentation and immaturity thus far):

https://github.com/mojodna/mapnik-query-analyzer

When run with `node index.js <stylesheet.xml>`, it will assemble queries that more or less match what Mapnik will generate (it doesn't filter the `SELECT` according to attributes referred to in the style yet and doesn't respect a

[2015-01-20 17:52] wilhelmberg commented on #3
@mojodna sorry for hi-jacking this thread about TileMill and Mabox Studio

@mohsentaleb I just checked: you are right, TileMill only exports 256px tiles.
Retina support was already worked on in 2012. So I thought that had been merged long ago, but it didn't happen.
Sorry, no 512px tiles from TileMill.

[2015-01-20 17:54] sethfitz commented on #3
@BergWerkGIS no, please!  I'm loving the detail and am following along fascinated.

[2015-01-20 17:56] sethfitz commented on #3
@mohsentaleb this is the local patch I'm using for retina tiles in TileMill.  It works for the editor, but I'm not sure about exporting.

[code]

[2015-01-20 17:58] sethfitz commented on #3
@mohsentaleb you may also be able to use `tl` to render retina tiles from a `mapnik:` source:

[code]

[2015-01-20 21:49] mohsentaleb commented on #3
@mojodna
1. Thanks for introducing mapnik-analyzer. I'll have a look at it.
2. About the `tl` command with 512x512 output, I've figured it out before and I even exported some tiles. This tool is perfect for me in case mapnik wont give us headaches like this.
3. Patching Tilemill for exporting 512 tiles doesn't work.

[2015-01-21 15:28] mohsentaleb commented on #3
@mojodna @springmeyer @BergWerkGIS I just ran a test on a pretty good machine (Centos 7 - 64bit - Xeon 2.4G, with 80GB of RAM). Replaced node with the one introduced in https://github.com/mapbox/node-cpp11/blob/master/README.md#downloads and again it gave me similar results compared to a 32bit windows machine with 4GB of RAM, crashed on ~1.5GB memory consumption.

I just wanted to test the workflo

[2015-01-21 16:58] wilhelmberg commented on #3
### **tl;dr**

@mohsentaleb

If your queries are optimized well and don't return too much data for each tile, especially the first one (did you include `geom && !bbox!`?), you should be set with this workaround until we've tackled this at lower levels.

Please try the following:
- Add `global.gc();` before [`console.log`](https://github.com/mojodna/tl/blob/b10fc07dc395a781454577c5d22725c2ddf20f61/

[2015-01-22 08:57] mohsentaleb commented on #3
@BergWerkGIS Thanks.
I did what you told me here.
It's very weird that the behavior in my case didn't change much.
![memory-consumption](https://cloud.githubusercontent.com/assets/628654/5852687/b5edc06a-a212-11e4-8ef0-5f1921ea649c.png)

The memory usage increases in a constant rate. The steep increase in the middle is not something that occurs every time. You can imagine it almost follows the pat

[2015-01-22 10:59] wilhelmberg commented on #3
@mohsentaleb strange.

Just to make sure, you
- used [Mapbox node.exe 0.10.33 64bit](https://mapbox.s3.amazonaws.com/node-cpp11/v0.10.33/x64/node.exe)
- added `global.gc();` to [`<tl-dir>\lib\commands\copy.js`](https://github.com/mojodna/tl/blob/b10fc07dc395a781454577c5d22725c2ddf20f61/lib/commands/copy.js#L92)
- started your `tl copy` with `node.exe --expose-gc --always-compact bin\tl.js copy <yo

[2015-01-22 11:41] mohsentaleb commented on #3
@BergWerkGIS Yes, I did the exact same things you listed.

As I mentioned before, that spike in the middle was a one-time thing. It didn't repeat in the next iterations.

And about splitting the area I don't think that would work, because every time a crash happens, it's not because the area is big or something. It crashes whenever a total number of tiles is exported and memory is not released, Sa

[2015-01-22 14:49] wilhelmberg commented on #3
It's a pity that you cannot provide a test case.
There are a lot of reasons why something can go wrong.
It could be that some your geometries are not valid (Have you tried `ST_IsValid`?).
It could be that your geometries are too complex (`ST_Simplify`).

**It could be that there are too many geometries within the area of one tile at low zoom levels.**
I still think your queries are returning too m

[2015-01-22 14:57] mohsentaleb commented on #3
Thank you @BergWerkGIS. I really appreciate that you've borne with me until now. I'll do a bunch of new tests on validating and simplifying geometries, and also splitting queries tomorrow and I'll update here.

[2015-01-24 10:37] wilhelmberg commented on #3
@mojodna

Is there an easy way to switch `tl copy` from async to sync, in order to have a more reproduce-able flow of action?
If so, could you provide a patch or a branch for my debugging?

[2015-01-24 17:24] sethfitz commented on #3
@BergWerkGIS making concurrency configurable, as in #1, so it could be set to 1 sounds like it would help, right?

I'll take a whack at implementing that when I get back tonight; in the meantime, manually changing the `highWaterMark: 32` values for `Readable`, `Writable`, and `Collector` in https://github.com/mojodna/tilelive-streaming/blob/master/index.js to `1` should work.

[2015-01-25 11:42] wilhelmberg commented on #3
@mojodna Thanks. That did it. Tiles are returned in the same order now.

[2015-01-27 07:07] wilhelmberg commented on #3
@mohsentaleb there are some new resources available, that show you how to use reduce the data coming from PostGIS:
https://www.mapbox.com/blog/postgis-sql-studio/

Another thing, that might help:
is your data already in WebMercator (EPSG:3857) or do your queries at least return the data in WebMercator ([ST_Transform](http://postgis.org/docs/ST_Transform.html))?
That would lift the weight from Stud

[2015-01-27 08:50] mohsentaleb commented on #3
@BergWerkGIS Thanks, that was a good read. I'll try to use them in my queries and see what happens.
My data is in Google Mercator (SRID: 900913)

[2015-01-27 08:54] wilhelmberg commented on #3
900913 is also ok.

[2015-02-09 08:41] wilhelmberg commented on #3
@mohsentaleb another thing for you to try.

Open a command prompt and enter

[code]

If `%PROJ_LIB%` is set, meaning it shows a path, please do

[code]

Then start your copy again from that very command prompt.

Does it work now?

[2015-02-09 10:02] mohsentaleb commented on #3
@BergWerkGIS `%PROJ_LIB%` is not set to anything. shall I set it now?

[2015-02-09 10:23] wilhelmberg commented on #3
@mohsentaleb strange. On the only machine I could reproduce the problem `%PROJ_LIB%` was set to the path of another program and setting it to the `mapnik\share\proj` dir solved it.

No, don't set it.

Could you download [Process Explorer](https://technet.microsoft.com/en-us/sysinternals/bb896653)?
- unzip and click `procexp.exe`
- start the `tl copy` procress
- in Process Explorer right click on `

[2015-02-09 11:08] mohsentaleb commented on #3
@BergWerkGIS
- `GDAL_DATA    C:\Users\Mohsen\AppData\Roaming\npm\node_modules\tl\node_modules\abaculus\node_modules\mapnik\lib\binding\node-v11-win32-x64\share\gdal`
- `PROJ_LIB C:\Users\Mohsen\AppData\Roaming\npm\node_modules\tl\node_modules\abaculus\node_modules\mapnik\lib\binding\node-v11-win32-x64\share\proj`
- `ICU_DATA C:\Users\Mohsen\AppData\Roaming\npm\node_modules\tl\node_modules\abaculus

[2015-02-09 11:17] wilhelmberg commented on #3
@mohsentaleb ah, that's interesting.

Do you have a `C:\Users\Mohsen\AppData\Roaming\npm\node_modules\tl\node_modules\mapnik\lib\binding\node-v11-win32-x64\share` directory?

If so, could you try setting those three environment variables before starting `tl copy`?

[code]

[2015-02-09 11:25] mohsentaleb commented on #3
@BergWerkGIS  nope, `C:\Users\Mohsen\AppData\Roaming\npm\node_modules\tl\node_modules\mapnik\lib\binding\node-v11-win32-x64\share` is not a valid directory in my system.

[2015-02-09 14:12] wilhelmberg commented on #3
@mohsentaleb woah, this is though :smirk:

I've got a special self contained package for you.
It is a +200MB download and extracts to ~2.5GB (includes its own node.exe and debug symbols).

If you are still willing to help find the problem, please follow these steps:
- I've packaged x86 on purpose. To see, if your data is too dense and we get an `out of memory exception`.
- download http://www.Berg

[2015-02-11 19:31] mohsentaleb commented on #3
@BergWerkGIS Thank you.
Gives me error while running:

[code]

[2015-02-11 20:15] springmeyer commented on #3
@mohsentaleb - that error looks like it might have to do with a recent change in Mapnik (https://github.com/mapnik/mapnik/commit/4a1f4a9b5ea30b79dfd7dfa9f683ef57c52f3278#diff-886aede99d12b35b6b895c458c838a54). Could you please try to track down what the original Mapnik XML layer looks like for this failing layer? Then please created an issue at https://github.com/mapnik/mapnik/issues with the deta

[2015-02-11 21:03] flippmoke commented on #3
@springmeyer not sure it has anything to do with that change, it simply looks like there is a comma after the name of the table being provided, not sure what is putting that there?

[2015-02-11 21:36] springmeyer commented on #3
@flippmoke okay, thanks for looking. We'll assume then that this is an error in the tm2 source (inside its actually a Mapnik XML stylesheet). @mohsentaleb can you please share the postgis queries you are using?

[2015-02-12 07:48] mohsentaleb commented on #3
@flippmoke @springmeyer Looked thoroughly into all my queries and didn't find that unnecessary comma you were referring to. Another proof is that I've been using the same queries for at least 5 months with no problem.
@springmeyer I can send you my queries in a private email if you will.

[2015-02-12 07:55] springmeyer commented on #3
Yes, could you do that?  My email is dane@mapbox.com. If nothing changed with the queries I presume that one of the queries is complex enough that Mapnik is failing to detect the tablename used in the subquery. You'll likely need to solve this by passing `geometry_table="some-table"`, but would be good to see your queries to try to confirm this is the problem.

[2015-02-13 09:28] springmeyer commented on #3
@mohsentaleb thanks for sharing the sql queries. I think it was the `#poi` query which triggered this error. I think you can workaround by changing `FROM map, poi` to `FROM map , poi` in your SQL. Or by passing `geometry_table="map"` in your Datasource options.

Also upcoming Mapnik should be fixed and will avoid this error in the future: https://github.com/mapnik/node-mapnik/issues/388

[2015-02-13 09:33] mohsentaleb commented on #3
@springmeyer  Thanks, this fixed the query parsing problem.
@BergWerkGIS breaks on another error:

[code]

[2015-02-13 09:49] wilhelmberg commented on #3
@mohsentaleb are you exporting to files? Just remove the event handler `sink.on`.

If you export to `mbtiles` it should work as is.

[2015-02-13 10:10] mohsentaleb commented on #3
@BergWerkGIS thanks, fixed.
works for a small boundary as expected. Tried for a larger area and breaks again.
May I ask for a private email to send you the logs and my queries?

[2015-02-13 11:09] wilhelmberg commented on #3
@mohsentaleb sure, wilhelm@mapbox.com

Maybe you could also include the parameters you call `tl copy` with?
I suppose a db dump is still out of reach? Even privately shared?

[2015-02-16 21:24] springmeyer commented on #3
I took a closer look at this and found that I can also crash `tl copy` on OS X with extreme memory usage. Profiling shows that all the threads (using mapnik) are idle and doing nothing. The problem is work being done in the main loop and in pure JS. I suspected that tilelive-cache is doing something wrong so I removed it like so:

[code]

And then the export was able to finish in 40 seconds with a

[2015-02-17 07:43] wilhelmberg commented on #3
@mohsentaleb @mojodna

I can confirm @springmeyer 's observations.

I used x64 version and was able to copy z8 to z18 without problems.

Both fixes worked for me, although the memory usage was quite different to the 160MB mentioned above.
Each fix 1, fix 2 and fix1/fix2 combined maxed at ~2.5GB while staying considerably below 1GB most of the time.

Memory usage pattern looks reasonable to me:
![i

[2015-02-17 17:02] sethfitz commented on #3
@springmeyer @BergWerkGIS Ah, great.  I'll take a deeper look at tilelive-cache.

[2015-02-18 10:37] mohsentaleb commented on #3
@springmeyer @BergWerkGIS The patch also works for me. Thank you.

[2015-02-18 11:32] wilhelmberg commented on #3
@mohsentaleb
Can you comment on memory usage on your system?

[2015-02-18 12:43] mohsentaleb commented on #3
@BergWerkGIS Almost linear usage around 100MB.

[2015-02-18 12:51] wilhelmberg commented on #3
@mohsentaleb Thanks, great that it is working for you now.

[2015-02-18 13:04] mohsentaleb commented on #3
@BergWerkGIS Yeah, thanks. Although exporting tiles with `tl` is way slower than with `tilemill`. I mean if exporting for a given area takes 20 minutes in `tilemill`, `tl` does that in more than 6-7hours. (same data, same styles).
Any ideas how to improve this?

@mojodna Thanks for bearing with us. Are you planning for a patch for `tl` in near future?

[2015-02-18 13:37] wilhelmberg commented on #3
@mohsentaleb

I think this is due to the way TileMill and Mapbox Studio work.
- Tilemill: vector data source -> png tiles
- Studio: vector data source -> vector tiles -> png tiles

Improvement would be:
- create vector tiles mbtiles db
- render png tiles with vector mbtiles as source (not orginal source data)

[2015-02-18 21:19] mohsentaleb commented on #3
@BergWerkGIS Is it possible to create vector tiles mbtiles using `tl` ? Mapbox Studio crashes while I try to export that file.

[2015-02-18 22:44] wilhelmberg commented on #3
@mohsentaleb I'm not too familiar with `tl` and don't know, if it supports vector tiles.

WRT to Mapbox Studio export crash, can you open an issue?
https://github.com/mapbox/mapbox-studio/issues/

With a short description and if your test data is valid for this case too?
Maybe already with a DMP file included? :smirk:
[Debug Mapbox Studio Tutorial](https://gist.github.com/BergWerkGIS/534a5e74301c5

[2015-02-19 17:15] mohsentaleb commented on #3
@mojodna May be you could comment on `tl` supporting vector mbtiles?

[2015-02-23 04:46] sethfitz commented on #3
Yes.  @springmeyer and I discussed this last week briefly; because the Mapnik XML configuration is an essential part of describing a source (and presumably present each time the source is requested), it's not as easy as just applying that patch.

See https://github.com/mojodna/tilelive-tmsource.  When using this as the source, the output (to be written to an MBTiles archive (or file system)) will

[2015-02-23 05:00] springmeyer commented on #3
@mojodna - what I also wanted to ask: what is the big idea behind tilelive-cache? Is catching sources essential or just a performance improvement (and in what cases)?

[2015-02-23 05:17] sethfitz commented on #3
It's partially a performance improvement, as it allows `getTile` calls to have their results cached (some of the sources also manage this internally in different ways, so why not pull the functionality out and allow all sources to benefit).

It's really more of a convenience thing when working with the `tilelive` interface, as it allows calling code to get out of the business of pre-loading source

[2015-04-01 05:47] #3 closed, assigned to nobody

[2015-04-01 05:49] sethfitz commented on #3
I fixed the underlying issue in `tilelive-cache` by hashing keys to limit their length.  It's published as tilelive-cache@0.4.3.  Reinstalling `tl` will pick up the new version of the dependency.

Thank you all for your help with this issue.

[2015-04-09 04:59] sethfitz opened #4 "Can not call next after nil"
This was when copying from an MBTiles archive to a `file:` URL (which means that it's using the custom stream MBTiles stream implementation).

[code]

[2015-04-09 15:55] #4 closed, assigned to nobody

[2015-04-11 23:03] nirvine opened #5 "Node 0.12.x and iojs compatibility"
From a newbie:
I have an error when I try to install - "cannot read property 'trim' of undefined"
![capture](https://cloud.githubusercontent.com/assets/4746171/7103603/aea35774-e0f2-11e4-8723-b445034a0ebc.JPG)

Can I fix this myself, or do I need help?

[2015-04-12 00:23] sethfitz commented on #5
Try using Node 0.10.x. I haven't had a chance to try it with 0.12.
On Sat, Apr 11, 2015 at 7:03 PM Narelle Irvine notifications@github.com
wrote:

[2015-04-30 17:39] sethfitz commented on #1
Refs mojodna/tilelive-streaming#2

[2015-04-30 20:38] sethfitz commented on #1
https://github.com/mojodna/tilelive-streaming/commit/a90f32859e4caeb6edc0b335f707c852ce7ec9d6 and https://github.com/mojodna/tilelive-http/commit/9dffd42abe0f9ad5015e5f31f25b77a573aeefe3 now make this possible.

[2015-06-02 22:38] sethfitz commented on #5
https://github.com/mojodna/tl/commit/b2b59ee6a2684b8e88db14dad115e388a9013c31 represents a first step for this.

https://github.com/mapbox/abaculus/pull/15 is needed in order for it to fully install on 0.12 and iojs.

[2015-06-29 15:48] sethfitz commented on #5
Pending https://github.com/mapbox/abaculus/issues/17

[2015-06-30 11:22] uhlat opened #6 "Resources are not freed properly"
When downloading big tilesets, the system will slowly run out of RAM since somewhere in the implementation (or external dependencies) resources are not free properly. See Screenshot for an example.

![screenshot_2015-06-30_13-19-44](https://cloud.githubusercontent.com/assets/13117691/8429723/b533e3d0-1f2a-11e5-89b2-36d5d7ca4645.png)

[2015-06-30 11:29] mohsentaleb opened #7 "Syntax error in tl dependencies (Namely tilelive)"
I just upgraded my node to v0.12.5 and also tl module to the latest version.
When running `tl copy` command I get this error:

[code]

[2015-06-30 15:34] sethfitz commented on #7
This was fixed upstream in `tilelive-streaming` and applied here in b2b59ee6a2684b8e88db14dad115e388a9013c31

I just pushed out a v0.4.0 release that solves this.

See also #5

[2015-06-30 15:34] #7 closed, assigned to nobody

[2015-06-30 15:34] sethfitz commented on #5
Published as v0.4.0

[2015-06-30 15:34] #5 closed, assigned to nobody

[2015-06-30 15:35] sethfitz commented on #6
Can you share the command you're using (or a filtered version of it) to help me determine which modules are in play?

Thanks.

[2015-06-30 16:11] mohsentaleb opened #8 "Application Error: The specified procedure could not be found."
`tl copy` exits with the following error message:

[code]

my `npm list --depth=0 -g` output:

[code]

[2015-07-02 13:17] uhlat commented on #6
sure, here you go:
tl copy -z 10 -Z 10 -b "-180 -90 0 90" tmstyle:///home/myhome/MapBox/streets.tm2 mbtiles:///home/myhome/Tiles/streets_10_-180_0.mbtiles

[2015-07-06 19:42] sethfitz commented on #6
Great, thanks.  It's going to take me some time to get to this, as it involves firing up the heap snapshot processor, etc.

[2015-07-08 01:12] springmeyer commented on #8
Hi @mohsentaleb - This problem is due to a broken node-mapnik installation. Have you tried re-installing fresh? See https://github.com/mapnik/node-mapnik/wiki/Troubleshooting#the-specified-procedure-could-not-be-found for details on this specific error. After reading and following that can you share with us the error you see from using `ctypes.CDLL`...?

[2015-07-08 08:20] wilhelmberg commented on #8
@mohsentaleb the broken mapnik install might be due to the fact that, at the moment, we are stuck at compiling mapnik with VS2014 CTP4.
Hope that these problems will be gone in a few weeks, as VS2015 is about to be released soon and we plan to move to it as soon as possible.

If you have installed a newer (than VS2014 CTP4) vcredist or Visual Studio itself, it will render the installed CTP4, and t

[2015-07-08 08:32] mohsentaleb commented on #8
@BergWerkGIS Thanks! will give it try after this.
BTW do you also have hints for running this on a CentOS x64 machine?

I get this error:

[code]

my npm list:

[code]

[2015-07-08 08:50] wilhelmberg commented on #8
@mohsentaleb sorry, I don't have any experience with CentOS,

[2015-07-08 09:45] mohsentaleb commented on #8
@BergWerkGIS I mean, not specifically CentOS, but Linux version of mapnik in general.

[2015-08-10 17:58] humanitariandata opened #9 "Fonts"
I am getting this error:
Failed to find font face 'Open Sans Bold' in FontSet 'fontset-0' in FontSet.

When running the following command on this style:

/usr/bin/tl copy -z 6 -Z 6 -b "2.532935 6.437926 2.560045 6.508226" tmstyle://./mapbox-studio-humanitarian-print.tm2 mbtiles://./tiles.mbtiles

npm ls mapnik shows:
digidoc@digidoc:~/osm$ npm ls mapnik
/home/digidoc/osm
└─┬ tl@0.4.0
└─┬ abaculus@

[2015-08-10 18:31] sethfitz commented on #9
It's probably going to be style-dependent.  You may be able to install Open Sans globally (using Font Book or `apt` or whatever) and see `tl` pick it up.

Alternately, you can install https://github.com/mapbox/mapbox-studio-default-fonts (`npm install mapbox-studio-default-fonts`) and add a `font-directory: url("node_modules/mapbox-studio-default-fonts/open-sans")` (you may be able to point up a d

[2015-08-10 18:32] sethfitz commented on #9
`font-directory` docs: https://github.com/mapbox/carto/blob/master/docs/latest.md#font-directory-uri

[2015-08-14 15:38] varkor commented on #9
@rodekruis — Did you manage to resolve this issue in the end? I've got Open Sans installed across my machine, but I'm still receiving the error, and I can't figure out how to get past it.

[2015-08-14 17:09] humanitariandata commented on #9
@varkor, not really. I had to take the font out of the project file to make it work. However, I was not able to get TL running on Ubuntu 14.04 since the dependencies are conflicting between the packages. Therefore mapnik is installed several times and this results in errors when running TL.

[2015-08-14 18:46] sethfitz commented on #9
@rodekruis the short-term workaround for multiple versions of mapnik is to install the version of mapnik you want to use at the top-level and then `find . -type d -name mapnik` to figure out which ones to delete after installation is complete (the one in the root is the only one that should exist).  (The mapnik team is aware of the conflicts and is looking into ways to mitigate the errors.)

@vark

[2015-08-15 08:18] humanitariandata commented on #9
@mojodna thanks for the tips. The issue seems to be that abaculus requires mapnik 3.3.0 whereis TL requires a higher version.

[2015-08-17 08:29] varkor commented on #9
@mojodna Thanks! That fixed the font problem! It's getting further in the process now, but I'm hitting a different error now:

[code]

I don't suppose this looks familiar at all?

I think I might need to `export ICU_DATA`, but I'm not sure how I would go about finding the ICU path.

(Also, hope using this issue is okay—I know these are errors reported by Mapnik rather than tl specifically, but I h

[2015-08-17 16:06] sethfitz commented on #9
taps @springmeyer

[2015-08-17 16:24] springmeyer commented on #9
@varkor - hey, I can help with the ICU issue. Yes, setting `ICU_DATA` might fix the problem, but its odd you would need to set it. Can you describe more about how you installed Mapnik/Node-mapnik? Based on how you installed I can give more guidance.

[2015-08-17 18:17] varkor commented on #9
I never directly installed it—I've installed TileMill and Mapbox Studio, as well as tl and various dependencies, which must have included Mapnik at some point or another. (I'm trying to convert the Emerald map style from Mapbox Studio to .mbtiles, if you're wondering what my goal is.)

[2015-08-24 19:11] jrunkel commented on #6
Any update on this matter? I have the same problem. Copying from tmstyle to mbtiles as well.

[2015-09-01 20:37] sethfitz commented on #6
I haven't had a chance to look into this yet, sorry.

[2015-10-07 14:33] four43 opened #12 "Empty Tiles on Copy"
Hello,

I'm having an issue creating an mbtiles set from a tmsource. There aren't any real helpful errors being thrown which is making this kind of tough to track down.

[code]

I've tried with and without the "-r" flag, sounds like that is a just in case flag. All the tiles are "580" and there is no indication of error until the very end:

[code]

Any thoughts on what that could be? Anything I ca

[2015-10-07 15:34] four43 commented on #12
Thinking this may be linked to my issues with Tessera: https://github.com/mojodna/tessera/issues/29

[2015-10-07 16:14] sethfitz commented on #12
Sounds right.  Seems like it's rendering a transparent image because there are no features to render.

[2015-10-26 14:45] morganmcc commented on #6
I think I just ran into this trying to generate a map of just the US based on a MapBox style. The command was very similar to what Uhlat used.
npm-exec tl copy -z 4 -Z 13 -b "-135.4395 16.3834 -56.4258 54.0078" tmstyle:///home/mccollm1/Documents/MapBox/MapBoxLight.tm2 mbtiles:///home/mccollm1/dev_monitor/tessera/MonitorMap_us.mbtiles

I left it running and it got most of the way through zoom level

[2015-10-26 14:59] morganmcc commented on #6
Forgot to mention I am using version 0.5.3.

[2015-10-26 17:26] sethfitz commented on #6
@morganmcc which version of Node and which OS?  (Probably doesn't matter, but it might make a difference.)

[2015-10-27 14:09] morganmcc commented on #6
I'm on Ubuntu 14.0.4 using node v0.10.40. I ran it again yesterday and periodically kept an eye on memory resources. It wasn't in any way a thorough test, but I did not notice any steady increase in memory. So, if there is a leak, it is a small one. Not sure if it helps, but I did notice that there are occasional CPU spikes and it seems to pause on a particular tile but then the CPU drops again an

[2015-12-08 19:36] sethfitz opened #13 "invalidate command"
...given input from osm2pgsql / imposm3 / osmosis's list of invalidated tiles / areas.

[2015-12-23 11:35] harutlc opened #14 "How to cache already downloaded tiles?"

[2015-12-23 18:21] sethfitz commented on #14
@harutlc how did you download them? What format would you like to use to cache them?

I suspect that [tilelive-file](https://github.com/mapbox/tilelive-file) and [mbtiles](https://github.com/mapbox/node-mbtiles) would facilitate this, e.g.

[code]

[2016-01-07 01:23] sethfitz opened #15 "Copying tiles from HTTP → MBTiles hangs"
This made it as far as `19/307226/288527` and then hung:

[code]

[2016-01-08 03:45] sethfitz commented on #15
'Twas primarily operator error (OSM tiles are only available to z19 and slowly 404 afterward). Since 404s are treated as absent data, it was attempting to retrieve all of them (but not retrying).

I did add a bunch of new debugging capabilities in the process of figuring this out though, which should be handy for the future.

[2016-01-08 03:45] #15 closed, assigned to sethfitz

[2016-02-12 21:23] jflemer-ndp opened #16 "Improve usage / help on missing command"
If you forget the command (e.g. `copy`), there is no output and exit status is `0`
- e.g. `tl -z 6 -Z 6 -b "-124.4096 32.5343 -114.1308 42.0095" file:///foo file:///bar`

Should show usage and exit non-zero.

[2016-02-12 21:58] jflemer-ndp opened #17 "Tilelive-carto source fails with mkdir error on mml file"
Not sure if this is a bug in `tl` or [tilelive-carto](https://github.com/mojodna/tilelive-carto). The same tilelive-carto source seems to work with tessera though, so I suspect it's something about `tl copy`.
### To Reproduce

Run:

[code]

And get output:

[code]

Note that the error (the `mkdir`) is originating in `tilelive-file` at https://github.com/mapbox/tilelive-file/blob/b31ef8477bf5b9785f

[2016-02-17 03:05] sethfitz commented on #17
`tilelive-carto` is kind of an ugly step-child. More of a proof of concept than anything. Potentially handy someday though.

`tilelive-file` shouldn't even be involved here (since that's about reading / writing tiles as files to/from the filesystem).

[2016-02-17 03:55] jflemer-ndp commented on #17
Easy workaround, so no rush to fix this.

I tried to figure out how tilelive-file was getting involved, but didn't see an obvious fix.

[2016-02-17 04:22] #17 closed, assigned to nobody

[2016-02-17 04:25] sethfitz commented on #17
I stumbled around this a while back and finally figured out what the problem was:

`tilelive-streaming` was overwriting `sourceURI`: https://github.com/mojodna/tilelive-streaming/blob/b5acd255d3d9b49d01921210cea2f84f06233348/index.js#L531

The reason you were seeing it in `tl` and not `tessera` is that `tessera` was using an older version of `tilelive-streaming`.

FWIW, I tracked this down by addi

[2016-02-17 04:46] #16 closed, assigned to nobody

[2016-02-17 04:46] sethfitz commented on #16
Fixed in v0.7.0.

[2016-04-07 22:39] longlostbro opened #18 "Can't install package, ERR! cb() never called!"
tried install with the following versions
node versions: 0.8.11 and 5.9.1
npm version: 3.7.3

This is the verbose result of the install that results in 'npm ERR! cb() never called!'

[code]

[2016-04-07 22:44] sethfitz commented on #18
I saw this the other day w/ some tilelive and a similar version of `npm`. Pretty sure that it's `npm`-related, but there may be a way to fix it on our end...

Try installing `npm@~3.3.x` to see if it has the same problem...

[2016-04-09 01:49] longlostbro commented on #18
That still didn't work. You might be right, it does seem npm related. I wish I knew how to fix it.
`C:\Users\username\Downloads\Tile Sandbox\tl>npm -v
3.3.12

C:\Users\username\Downloads\Tile Sandbox\tl>npm install tl
npm WARN engine tilelive@5.12.2: wanted: {"node":">= 0.10.0 < 5"} (current: {"node":"5.9.1","npm":"3.3.12"})
npm ERR! cb() never called!
`

[2016-04-09 02:02] longlostbro commented on #18
It seems that node was the issue, not npm. I completely removed node js and then downloaded the latest binary, and updated npm to the lastest and tl installs without problems, except still 'tl' is not recognized as an internal or external command. That could be a windows problem.

[2016-05-05 04:46] sethfitz opened #20 "Extract render functionality into its own tool"
...will need to dig the code out of the git history now that it's been removed.

[2016-05-05 04:55] sethfitz commented on #18
I ran into this on OS X a little while ago w/ npm@3.8.3 (and node@5.9.1) shortly before updating some dependencies. After the dependencies were updated, I tried again and it installed fine.

Re: `tl` not being recognized as a command, make sure that it's in a folder in your `PATH`.

[2016-05-05 04:55] #18 closed, assigned to nobody

[2016-05-09 10:23] jingsam commented on #18
I have same problem with node@5.9.1 and npm@3.7.3 on Windows 10 X64. So check the package.json, found that in https://github.com/mojodna/tl/blob/master/package.json#L14

[code]

should be

[code]

[2016-05-09 18:36] sethfitz commented on #18
Does that actually fix the problem?

The `#options-with-spaces` refers to the branch (i.e. not `master`) that it's supposed to pull (it fixes option parsing for bounding boxes), so the branch needs to be specified somehow.

[2016-05-09 18:38] sethfitz commented on #18
(Semi-related, I spent some time over the weekend attempting to replace nomnom w/ yargs but ran into the same problems w/ negative number option parsing.)

[2016-05-10 02:50] jingsam commented on #18
I tried to run:

[code]

It complains:

[code]

So I think npm will also fail to download this branch

[2016-05-10 03:01] jingsam commented on #18
Is `-b '-118.9448 32.8007 -117.6462 34.8233'` or just `-b [-118.9448 32.8007 -117.6462 34.8233]` will be better?

[2016-05-10 03:05] jingsam commented on #18
I just check that tilelive-copy use minimist.
https://github.com/mapbox/tilelive/blob/master/bin%2Ftilelive-copy#L10

Maybe this would be helpful

[2016-05-16 03:20] jingsam commented on #18
Still can't install `https://github.com/mojodna/nomnom#options-with-spaces`, is there any progress?

[2016-05-16 22:26] sethfitz commented on #18
@jingsam which versions of `node` and `npm` are you using? I can't reproduce.

[code]

[code]

[2016-05-16 22:26] sethfitz commented on #18
FWIW, yargs is the spiritual successor of minimist (and minimist doesn't support subcommands, which is the primary reason I'm looking for an advanced option parser).

[2016-05-17 01:17] jingsam commented on #18
[code]

[2016-05-17 01:32] sethfitz commented on #18
Can you update to a newer version of the Node 5.x series?

[2016-08-30 18:27] Bibi56 opened #21 "Zoom level not used for validity range"
If you encode a vector with a specific zoom range, let's say -z 4 -Z 6, tl info should return "minzoom":4,"maxzoom":6, not "minzoom":0,"maxzoom":22, as it does now.

May be adding some parameters like --no_overzooming --no_underzooming.

But you can solve that thanks to the -i parameter.

However tessera displays for a given level all the layers at this level on a higher level.

[2016-08-30 21:00] remmi11 opened #22 "Empty mbtiles on max zoom"
When I serve tm2 using tessera

tessera tmstyle:///Users/wtgeo_000/Desktop/Upwork/Sotiris/mapbox-studio-outdoors.tm2

I can view tiles at zoom 10.

However even though this cmd successfully completes...

tl copy -z 0 -Z 10 -b "-180 -85.0511 180 85.0511" tmstyle:///Users/wtgeo_000/Desktop/Upwork/Sotiris/mapbox-studio-outdoors.tm2 mbtiles:///Users/wtgeo_000/Desktop/Upwork/Sotiris/outdoors.mbtiles

Z

[2017-08-31 06:48] Bibi56 commented on #22
Are you sure they are not tiles at zoom level 9 overzoomed?

[2017-08-31 07:29] Bibi56 opened #23 "Help Message"
`tl copy` returns `   -b BBOX, --bounds BBOX        WGS84 bounding box  [-180,-85.0511,180,85.0511]` which is misleading. The correct syntax is given in the README.md file.

`   -b BBOX, --bounds BBOX        WGS84 bounding box  ["-180 -85.0511 180 85.0511"]` would be less confusing.

[2017-09-12 22:26] drax314 opened #24 "Can't run tl"
Hello,

I run MacOS Sierra, Node v0.10, and I'm unable to starl `tl` - see log.
Can you please help me?

thanks a lot!

[code]

[2017-09-12 22:58] sethfitz commented on #24
One of `tl`'s dependencies (`tilelive-streaming`, initially) is no longer compatible with Node v0.10.x.

I'd recommend using a more recent version of Node (say, 6.x, since it's the current LTS release) and going from there.

[2017-09-12 22:58] #24 closed, assigned to nobody

[2017-11-16 17:04] dhairyashil opened #25 "Postgis DB to mbtile conversion - coordinate system issue!"
I am trying to run below command.

`tl copy  "postgis://username:password@host_id:5432/test?table=schema.lines&geometry_field=geom&srid=3857&layerName=road" "mbtiles://./belgium-tiles.mbtiles" -z 1 -Z 22 -b "2 49 6 52"`

But while executing it, I am getting below error:
[code]
While debugging I have found that
in file `tilelive-streaming/index.js`
[code]

this code is actually changing bounding bo

[2017-11-21 03:02] sethfitz commented on #25
It's attempting to restrict the resulting bounding box to the minimally-available data. My initial guess is that `tilelive-postgis` (or whatever is handling the `postgis` scheme) isn't providing a bounding box.

[2017-11-21 12:10] dhairyashil commented on #25
yes. shall I raise this in tilelive-postgis module issues?

[2017-11-22 20:07] sethfitz commented on #25
That'd be great!

[2018-08-12 03:33] timoto opened #26 "Copy command stops processing unexpectedly"
I have successfully used the command line to scrape tiles using this command:
`tl copy -z 0 -Z 10 -b '-180.0 -85.05 180.0 85.05' 'http://tile.stamen.com/watercolor/{z}/{x}/{y}.png' mbtiles://./tiles.mbtiles
`

However when attempting the next level:
`tl copy -z 11 -Z 11 -b '-180.0 -85.05 180.0 85.05' 'http://tile.stamen.com/watercolor/{z}/{x}/{y}.png' mbtiles://./11.mbtiles`

the process systemati

[2019-02-12 14:27] aliir74 opened #27 "Raster files generated didn't load"
Hi all.
I used below command to generate some raster tiles but all png files are broken and didn't show anything.
[code]

[2019-02-14 21:21] sethfitz commented on #27
This isn't actually generating PNGs. [`tilelive-file`](https://github.com/mapbox/tilelive-file) creates files with `.png` as a default extension.

This command is just copying MVTs from Mapbox to a local filesystem. The `.png`s on the filesystem are MVTs.

To render rasters, you'll need to use `tilelive-tmstyle` to convert the MVTs into images according to a style you define.

[2019-02-14 21:21] #27 closed, assigned to nobody

[2019-04-20 21:57] hyances opened #28 "Module brakes with Error: Invalid tilesource protocol: mbtiles:"
Hi!  This is probably a silly question; I've installed mbtiles as follow `npm install -r @mapbox/mbtiles`

Then run the following:

`tl copy -z 13 -Z 20 -b '-75.766611 10.162420 -75.708632 10.189327' 'http://a.tile.openstreetmap.org/{z}/{x}/{y}.png' mbtiles://./orika-osm.mbtiles`

And get this error:
[code]

Please let me know, what I'm doing wrong?  Thanks!

[2019-04-22 17:18] sethfitz commented on #28
That should be right, though I'm not sure what the `-r` flag to `npm install` does. Can you check to see if `node_modules/@mapbox/mbtiles` exists? If not, try without the `-r`.

[2019-12-06 12:49] secretgh commented on #28
+1 Is the mbtiles://./file.mbtiles sink a windows command? I am running on mac.

[2019-12-08 00:13] sethfitz commented on #28
Nope, that's from MacOS / Linux.

[2022-02-13 04:19] PositivPy commented on #28
I have the same issue. I tried to install an older version of nodejs (9.11.1) but it's still not working. `node_modules/@mapbox/mbtiles` exists.

It's concerning that a package `mbtiles` is not be able to process `mbtiles`.

[2022-02-15 04:03] sethfitz commented on #28
I think what's going on here is that `tl` (and `tilelive-http`) is installed globally (`npm install -g tl`) and it's looking for a globally-installed version of `@mapbox/mbtiles`, which doesn't exist. A local one does, but `tl` isn't able to look for it.

2 approaches that should work:

1. install `@mapbox/mbtiles` globally: `npm install -g @mapbox/mbtiles` (in addition to `tl` and any other tilel